@font-face {
  font-family: KenPixel-Nova;
  src: url(https://raw.githubusercontent.com/jerrydenton/sumScore/master/sumScore/Assets/sumScore/Fonts/KenPixel%20Nova.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: Steudel-Mono;
  src: url(/assets/fonts/SteudelMonoDisplay-Regular.ttf);
}
* {
  --text-color: rgb(78, 58, 196);
  scroll-behavior: smooth;
}
@media screen and (max-width: 750px) {
  * {
    --text-color: red;
  }
}
body {
  margin: 0;

  background-image: url(assets/wall4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-family: KenPixel-Nova;
  text-align: center;
  font-size: 8em;
  margin: 0;
}

header div {
  margin: 10vh 20vw 0 20vw;
  height: 20vh;
  background-color: rgb(219, 147, 189);

  border-bottom: solid 0.75vw rgb(68, 49, 173);
  border-right: solid 0.75vw rgb(78, 58, 196);
  border-top: solid 0.75vw rgb(243, 240, 242);
  border-left: solid 0.75vw rgb(221, 189, 209);
  color: var(--text-color);
}
nav {
  margin: 0 0 0 20vw;
}
nav ul {
  list-style-type: none;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin-left: -40px;
  width: 60vw;
  display: flex;
}
nav ul li {
  width: 11.7vw;
  border-bottom: solid 0.2em rgb(68, 49, 173);
  border-right: solid 0.2em rgb(78, 58, 196);
  border-top: solid 0.2em rgb(243, 240, 242);
  border-left: solid 0.2em rgb(221, 189, 209);
  background-color: #db93bd;
  text-align: center;
  float: left;
  padding: 2vh 0 2vh 0;
  margin: 0 1.2vw 0 1.2vw;
  transition-duration: 0.4s;
}
nav ul li a {
  color: var(--text-color);
  transition-duration: 0.2s;
  text-decoration: none;
  font-family: Steudel-Mono;
}
nav ul li:hover {
  background-color: #eed1e2;
  transition-duration: 0.8s;
}
/*nav #portrait {
  background-image: url(assets/pixel\ portret.png);
  height: 37vh;
  width: 40vh;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: solid 0.75vw rgb(68, 49, 173);
  border-right: solid 0.75vw rgb(78, 58, 196);
  border-top: solid 0.75vw rgb(243, 240, 242);
  border-left: solid 0.75vw rgb(221, 189, 209);
  margin: 0 0 0 0;
} */
.flexbox {
  display: flex;
}
#bijschrift {
  border-bottom: solid 0.75vw rgb(68, 49, 173);
  border-right: solid 0.75vw rgb(78, 58, 196);
  border-top: solid 0.75vw rgb(243, 240, 242);
  border-left: solid 0.75vw rgb(221, 189, 209);
  background-color: rgb(219, 147, 189);
  width: 35.4vw;
  margin: 0 0 0 2vw;
  background-image: url(assets/icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 1em top 1em;
}
#bijschrift h2 {
  color: var(--text-color);
  font-family: kenpixel-nova;
  font-size: 4em;
  margin: -0.1em 0 0 0.2em;
}
#bijschrift p {
  color: var(--text-color);
  font-size: 2em;
  font-family: Steudel-Mono;
  margin: 0 0 0 0.2em;
}
nav label {
  background-image: url(assets/pixel\ portret.png);
  height: 37vh;
  width: 40vh;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: solid 0.75vw rgb(68, 49, 173);
  border-right: solid 0.75vw rgb(78, 58, 196);
  border-top: solid 0.75vw rgb(243, 240, 242);
  border-left: solid 0.75vw rgb(221, 189, 209);
  background-repeat: no-repeat;
}
nav input {
  display: none;
}
#flip:checked + label {
  transform: scaleY(-1);
}
